node_modules
npm-debug.log

/dist
/node_modules/.vite
/node_modules
/contracts/mosaic/build
/node_modules/.vite
/node_modules/.bin
/dist
/node_modules
*.js
/node_modules/.vite
/node_modules/.vite/deps
/dist
/node_modules/.vite/deps
